# Capital indexes

Write a function named capital_indexes. The function takes a single parameter, which is a string. Your function should return a list of all the indexes in the string that have capital letters.

For example, calling capital_indexes("HeLlO") should return the list [0, 2, 4].

In [1]:
index=[]
def capital_indexes(string):
    index=[]
    for i in range(len(string)):
        if string[i].isupper():
            index.append(i)
            
    return index

In [2]:
#or

from string import ascii_uppercase

def capital_indexes(s):
    return [i for i in range(len(s)) if s[i] in ascii_uppercase]

In [3]:
capital_indexes("HeLLO")

[0, 2, 3, 4]

# Middle letter
Write a function named mid that takes a string as its parameter. Your function should extract and return the middle letter. If there is no middle letter, your function should return the empty string.

For example, mid("abc") should return "b" and mid("aaaa") should return ""

In [4]:
def mid(string):
    length =len(string)
    if length % 2 ==0:
        return ""
    else:
        middle_index=length//2
        return string[middle_index]

In [5]:
#or

def mid(string):
    if len(string) % 2 == 0:
        return ""
    return string[len(string)//2]

In [6]:
mid("abc")

'b'

In [7]:
mid("aaaa")

''

# Online status

The aim of this challenge is, given a dictionary of people's online status, to count the number of people who are online.

For example, consider the following dictionary:

statuses = {
    "Alice": "online",
    "Bob": "offline",
    "Eve": "online",
}
In this case, the number of people online is 2.

Write a function named online_count that takes one parameter. The parameter is a dictionary that maps from strings of names to the string "online" or "offline", as seen above.

Your function should return the number of people who are online.

In [8]:
def online_count(statuses):
    count=0
    for val in statuses.values():
        if val=="online":
            count +=1
    return count

In [9]:
#or 

def online_count(statuses):
    count=0
    for name,status in statuses.items():
        if status == "online":
            count +=1
    return count

In [10]:
statuses = {
    "Alice": "online",
    "Bob": "offline",
    "Eve": "online",
}

online_count(statuses)

2

# Randomness
Define a function, random_number, that takes no parameters. The function must generate a random integer between 1 and 100, both inclusive, and return it.

Calling the function multiple times should (usually) return different numbers.

For example, calling random_number() some times might first return 42, then 63, then 1.

In [11]:
import random
def random_number():
    return random.randint(1,100)

In [12]:
print(random_number())
print(random_number())
print(random_number())

61
10
51

# Type check

Write a function named only_ints that takes two parameters. Your function should return True if both parameters are integers, and False otherwise.

For example, calling only_ints(1, 2) should return True, while calling only_ints("a", 1) should return False.

In [13]:
def only_ints(n,m):
    if type(n)==int and type(m)==int:
        return True
    else:
        return False

In [14]:
#or

def only_ints(n, m):
    if isinstance(n, int) and isinstance(m, int):
        return True
    else:
        return False

In [15]:
print(only_ints(1,2))
print(only_ints('a',2))

True
False

# Double letters

The goal of this challenge is to analyze a string to check if it contains two of the same letter in a row. For example, the string "hello" has l twice in a row, while the string "nono" does not have two identical letters in a row.

Define a function named double_letters that takes a single parameter. The parameter is a string. Your function must return True if there are two identical letters in a row in the string, and False otherwise.

In [16]:
def double_letters(string):
    for i in range(len(string)-1):
        if string[i] == string[i + 1]:
            return True
    return False

In [17]:
print(double_letters('sttring'))
print(double_letters('string'))

True
False

In [18]:
def add_dots(string):
    return '.'.join(string)

def remove_dots(string):
    return string.replace('.','')

In [19]:
remove_dots(add_dots('string'))

'string'

# Counting syllables
Define a function named count that takes a single parameter. The parameter is a string. The string will contain a single word divided into syllables by hyphens, such as these:

"ho-tel"
"cat"
"met-a-phor"
"ter-min-a-tor"
Your function should count the number of syllables and return it.

For example, the call count("ho-tel") should return 2.

In [20]:
def count(word):
    syllables=word.split('-')
    return len(syllables)

In [21]:
count('khd-nk-jn')

3

# Anagrams

Two strings are anagrams if you can make one from the other by rearranging the letters.

Write a function named is_anagram that takes two strings as its parameters. Your function should return True if the strings are anagrams, and False otherwise.

For example, the call is_anagram("typhoon", "opython") should return True while the call is_anagram("Alice", "Bob") should return False.

In [22]:
def is_anagram(str1,str2):
    return sorted(str1)==sorted(str2)

In [23]:
is_anagram("hssj","shjs")

True

# Flatten a list

Write a function that takes a list of lists and flattens it into a one-dimensional list.

Name your function flatten. It should take a single parameter and return a list.

For example, calling:

flatten([[1, 2], [3, 4]])
Should return the list:

[1, 2, 3, 4]

In [24]:
def flatten(list):
    flattened=[]
    for i in list:
        flattened.extend(i)
    return flattened

In [25]:
flatten([[1, 2], [3, 4]])

[1, 2, 3, 4]

# Min-maxing
Define a function named largest_difference that takes a list of numbers as its only parameter.

Your function should compute and return the difference between the largest and smallest number in the list.

For example, the call largest_difference([1, 2, 3]) should return 2 because 3 - 1 is 2.

You may assume that no numbers are smaller or larger than -100 and 100

In [26]:
def largest_difference(lst):
    lst.sort()
    diff = lst[-1] - lst[0]
    return diff

In [27]:
#or 

def largest_difference(lst):
    sorted_lst = sorted(lst)
    diff = sorted_lst[-1] - sorted_lst[0]
    return diff

In [28]:
#or

def largest_difference(list):
    return max(list)-min(list)

In [29]:
largest_difference([1,2,3,4,5])

4

# Divisible by 3

Define a function named div_3 that returns True if its single integer parameter is divisible by 3 and False otherwise.

For example, div_3(6) is True because 6/3 does not leave any remainder. However div_3(5) is False because 5/3 leaves 2 as a remainder.

In [30]:
def div_3(n):
    return n % 3 == 0

In [31]:
div_3(9)

True

Tic tac toe input
Here's the backstory for this challenge: imagine you're writing a tic-tac-toe game, where the board looks like this:

1:  X | O | X
   -----------
2:    |   |  
   -----------
3:  O |   |

    A   B  C
The board is represented as a 2D list:

board = [

    ["X", "O", "X"],
    
    [" ", " ", " "],
    
    ["O", " ", " "],
]

Imagine if your user enters "C1" and you need to see if there's an X or O in that cell on the board. To do so, you need to translate from the string "C1" to row 0 and column 2 so that you can check board[row][column].

Your task is to write a function that can translate from strings of length 2 to a tuple (row, column). Name your function get_row_col; it should take a single parameter which is a string of length 2 consisting of an uppercase letter and a digit.

For example, calling get_row_col("A3") should return the tuple (2, 0) because A3 corresponds to the row at index 2 and column at index 0in the board.

In [32]:
def get_row_col(position):
    column_letter = position[0]
    row_number = int(position[1])-1
    
    column_mapping = {"A":0,"B":1,"C":2}
    column = column_mapping[column_letter]
    
    return row_number,column

In [33]:
#or

def get_row_col(choice):
    translate = {"A": 0, "B": 1, "C": 2}
    letter = choice[0]
    number = choice[1]
    row = int(number) - 1
    column = translate[letter]
    return (row, column)

In [34]:
board = [
    ["X", "O", "X"],
    [" ", " ", " "],
    ["O", " ", " "],
]

position = "A3"
get_row_col(position)

(2, 0)

# Palindrome
A string is a palindrome when it is the same when read backwards.

For example, the string "bob" is a palindrome. So is "abba". But the string "abcd" is not a palindrome, because "abcd" != "dcba".

Write a function named palindrome that takes a single string as its parameter. Your function should return True if the string is a palindrome, and False otherwise.

In [35]:
def palindrome(string):
    return string==string[::-1]

In [36]:
#or

def palindrome(string):
    if len(string) < 2:
        return True
    return string[0] == string[-1] and palindrome(string[1:-1])

In [37]:
#or

def palindrome(string):
    while len(string) > 1:
        head = string[0]
        tail = string[-1]
        string = string[1:-1]
        if head != tail:
            return False
    return True

In [38]:
print(palindrome("bjgb"))
print(palindrome("bob"))

False
True

# Up and down
Define a function named up_down that takes a single number as its parameter. Your function return a tuple containing two numbers; the first should be one lower than the parameter, and the second should be one higher.

For example, calling up_down(5) should return (4, 6).

In [39]:
def up_down(n):
    return n-1,n+1

In [40]:
up_down(5)

(4, 6)

# Consecutive zeros
The goal of this challenge is to analyze a binary string consisting of only zeros and ones. Your code should find the biggest number of consecutive zeros in the string. For example, given the string:

"1001101000110"
The biggest number of consecutive zeros is 3.

Define a function named consecutive_zeros that takes a single parameter, which is the string of zeros and ones. Your function should return the number described above.

In [41]:
def consecutive_zeros(string):
    return max(len(seq) for seq in string.split('1'))

In [42]:
#or

def consecutive_zeros(bin_str):
    return max([len(s) for s in bin_str.split("1")])

In [43]:
#or

def consecutive_zeros(string):
    max_zeros = 0
    current_zeros = 0

    for char in string:
        if char == '0':
            current_zeros += 1
            max_zeros = max(max_zeros, current_zeros)
        else:
            current_zeros = 0

    return max_zeros

In [44]:
consecutive_zeros("100001001010101100100010")

4

# All equal
Define a function named all_equal that takes a list and checks whether all elements in the list are the same.

For example, calling all_equal([1, 1, 1]) should return True.

In [45]:
def all_equal(list):
    return all(element == list[0] for element in list)

In [46]:
#or

def all_equal(items):
    for item1 in items:
        for item2 in items:
            if item1 != item2:
                return False
    return True

In [47]:
print(all_equal([1,2,1]))
print(all_equal([1,1,1]))

False
True

# Boolean and
Define a function named triple_and that takes three parameters and returns True only if they are all True and False otherwise.

In [48]:
def triple_and(a,b,c):
    return a and b and c

In [49]:
print(triple_and(True, True, True))    
print(triple_and(True, True, False))  
print(triple_and(True, False, True))  
print(triple_and(False, False, False))

True
False
False
False

# Writing short code
Define a function named convert that takes a list of numbers as its only parameter and returns a list of each number converted to a string.

For example, the call convert([1, 2, 3]) should return ["1", "2", "3"].

What makes this tricky is that your function body must only contain a single line of code

In [50]:
def convert(number):
    return list(map(str,number))

In [51]:
#or

def convert(num):
    return [str(n) for n in num]

In [52]:
convert([1,2,3,4])

['1', '2', '3', '4']

#Custom zip
The built-in zip function "zips" two lists. Write your own implementation of this function.

Define a function named zap. The function takes two parameters, a and b. These are lists.

Your function should return a list of tuples. Each tuple should contain one item from the a list and one from b.

You may assume a and b have equal lengths.

If you don't get it, think of a zipper.

For example:

zap(
    
    [0, 1, 2, 3],
    
    [5, 6, 7, 8]
)

Should return:

[(0, 5),

 (1, 6),
 
 (2, 7),
 
 (3, 8)]

In [53]:
def zap(a,b):
    return [(a[i],b[i]) for i in range(len(a))]

In [54]:
#or

def zap(a, b):
    result = []
    for i in range(len(a)):
        item_from_a = a[i]
        item_from_b = b[i]
        tup = (item_from_a, item_from_b)
        result.append(tup)
    return result

# Solution validation
The aim of this challenge is to write code that can analyze code submissions. We'll simplify things a lot to not make this too hard.

Write a function named validate that takes code represented as a string as its only parameter.

Your function should check a few things:

the code must contain the def keyword

otherwise return "missing def"

the code must contain the : symbol

otherwise return "missing :"

the code must contain ( and ) for the parameter list

otherwise return "missing paren"

the code must not contain ()

otherwise return "missing param"

the code must contain four spaces for indentation

otherwise return "missing indent"

the code must contain validate

otherwise return "wrong name"

the code must contain a return statement

otherwise return "missing return"

If all these conditions are satisfied, your code should return True.

Here comes the twist: your solution must return True when validating itself.

In [55]:
import re
def validate(code):
    if "def" not in code:
        return "missing def"
    elif ":" not in code:
        return "missing :"
    elif "(" not in code or ")" not in code:
        return "missing paren"
    elif re.search(r"\(s*\)",code):
        return "missing param"
    elif "    " not in code:
        return "missing indent"
    elif "validate" not in code:
        return "wrong name"
    elif "return" not in code:
        return "missing return"
    else:
        return True

In [56]:
#or

def validate(code):
    if "def" not in code:
        return "missing def"
    if ":" not in code:
        return "missing :"
    if "(" not in code or ")" not in code:
        return "missing paren"
    if "(" + ")" in code:  # only this line is changed
        return "missing param"
    if "    " not in code:
        return "missing indent"
    if "validate" not in code:
        return "wrong name"
    if "return" not in code:
        return "missing return"
    return True

In [57]:
code = '''def validate(code):
    if "def" not in code:
        return "missing def"
    elif ":" not in code:
        return "missing :"
    elif "(" not in code or ")" not in code:
        return "missing paren"
    elif re.search(r"\(\s*\)", code):
        return "missing param"
    elif "    " not in code:
        return "missing indent"
    elif "validate" not in code:
        return "wrong name"
    elif "return" not in code:
        return "missing return"
    else:
        return True'''

print(validate(code))

True

# List xor

Define a function named list_xor. Your function should take three parameters: n, list1 and list2.

Your function must return whether n is exclusively in list1 or list2.

In other words, if n is in both lists or in none of the lists, return False. If n is in only one of the lists, return True.

For example:

list_xor(1, [1, 2, 3], [4, 5, 6]) == True

list_xor(1, [0, 2, 3], [1, 5, 6]) == True

list_xor(1, [1, 2, 3], [1, 5, 6]) == False

list_xor(1, [0, 0, 0], [4, 5, 6]) == False

In [58]:
def list_xor(n, list1, list2):
    if (n in list1 and n not in list2) or (n in list2 and n not in list1):
        return True
    else:
        return False

In [59]:
#or

def list_xor(n, list1, list2):
    return (n in list1) ^ (n in list2)

In [60]:
#or

def list_xor(n, list1, list2):
    if n not in list1 and n not in list2:
        return False
    if n in list1 and n in list2:
        return False
    return True

In [61]:
print(list_xor(1, [1, 2, 3], [4, 5, 6]))
print(list_xor(1, [0, 2, 3], [1, 5, 6]))  
print(list_xor(1, [1, 2, 3], [1, 5, 6]))  
print(list_xor(1, [0, 0, 0], [4, 5, 6]))

True
True
False
False

# Counting parameters
Define a function param_count that takes a variable number of parameters. The function should return the number of arguments it was called with.

For example, param_count() should return 0, while param_count(2, 3, 4) should return 3.

In [62]:
def param_count(*parm):
    return len(parm)

In [63]:
param_count(1,2,3)

3

# Thousands separator
Write a function named format_number that takes a non-negative number as its only parameter.

Your function should convert the number to a string and add commas as a thousands separator.

For example, calling format_number(1000000) should return "1,000,000".

In [64]:
def format_number(number):
    number_str = str(number)
    reversed_str = number_str[::-1]  # Reverse the string
    formatted_str = ""
    for i in range(len(reversed_str)):
        if i != 0 and i % 3 == 0:
            formatted_str += ","
        formatted_str += reversed_str[i]
    formatted_number = formatted_str[::-1]  # Reverse the formatted string back
    return formatted_number

In [65]:
def format_number(n):
    result = ""
    for i, digit in enumerate(reversed(str(n))):
        if i != 0 and (i % 3) == 0:
            result += ","
        result += digit
    return result[::-1]

In [66]:
def format_number(n):
    return "{:,}".format(n)

In [67]:
format_number(10000000)

'10,000,000'